<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ride.snailplayer">

    <!-- 网络访问需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取手机IMEI号需要的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 获取WI-FI状态以及Mac地址需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 判断网络连接状态需要 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".framework.SnailPlayerApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:largeHeap="true"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.SnailPlayer">

        <activity android:name=".framework.ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".framework.ui.search.SearchActivity"
                android:label="@string/title_search"
                android:launchMode="singleTop"
                android:theme="@style/Theme.SnailPlayer.Search"
                android:exported="false">
            <!-- This Activity handles the search intent -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <!-- Intent filter does not need a category = default, since the system delivers
                     the ACTION_SEARCH intent explicitly to the searcheable activity,
                     using component name.
                  -->
            </intent-filter>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
        <activity
                android:name=".framework.ui.welcome.WelcomeActivity"
                android:theme="@style/Theme.SnailPlayer.Welcome"
                android:exported="false"/>
    </application>

</manifest>